* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sz: 1vh + 1vw;
}

.head {
    display: flex;
    align-items: center;
    font-size: calc(var(--sz) * 1.2);
    font-weight: bold;
    justify-content: center;
    color: #000;
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 1.25em;
}

.weekdays {
    background-color: #e0e0e0;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0 15px 0 15px;
}

.weekdays:nth-child(1) {
    background-color: #a8a9a8;
}

li {
    background-color: #e0e0e0;
    list-style: none;
    font-size: 1.2em;
    padding-bottom: 2.3em;
    padding-left: .3em;
    font-weight: 500;
}

.month-next {
    background-color: #f4f4f4;
}