body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
    font-family: Open Sans, sans-serif;
}


/* Блок заголовка */
header {
    height: 449px;
    background-color: #000;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 28px;
    display: block;
    position: relative;
    z-index: 0;
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.45;
    z-index: -1;
}



.header-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.header-text {
    color: #fff;
    display: block;
    font-size: 45px;
    font-weight: 700;
    justify-content: center;
    line-height: 75px;
    margin: 70px auto 0;
    max-height: 380px;
    max-width: 680px;
    text-align: center;
}

.logo {
    height: 40px;
    margin-left: 15px;
    display: inline-block;
}


/* Блок главной */
main {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 64px auto 0;
}


/* Блок карточек */
.card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.card-tags {
    color: #b59f5b;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

.card-title {
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.card-date {
    color: #888;
    text-align: left;
    object-fit: fill;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
}

.card-author {
    display: inline-block;
    align-items: center;
    margin-left: 12px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    color: #000;
}

.card-text {
    max-width: 367px;
    flex-direction: column;
    margin-left: 30px;
}


/* Блок новостей */
.news {
    max-width: 794px;
    margin-left: 15px;
}

.aside {
    max-width: 272px;
    margin-right: 15px;
}

.new-posts-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29.15px;
}

.new-posts-line {
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 6px auto 0;
}

.new-post-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 22px;
}

.new-posts-info {
    margin-left: 20px;
}

.new-post-card-text {
    color: #000;
    font-weight: 700;
    line-height: 16px;
    margin-top: 5px;
    text-transform: uppercase;
}

.new-post-card-title {
    color: #888;
    font-size: 12px;
    line-height: 16px;
}


/* Блок поиска */
.search {
    margin-top: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.search-button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    border: none;
}

.search-input {
    width: 100%;
    max-width: 272px;
    font-size: 13px;
    padding-left: 18px;
    width: 100%;
    height: 48px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
}


/* Блок подписки */
.send {
    margin-top: 62px;
}

.send-text {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29.15px;
}

.send-line {
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 6px auto 0;
}

.send-form {
    margin-top: 23px;
}

.send-input {
    width: 100%;
    font-size: 13px;
    width: 100%;
    height: 48px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
}

.send-input placeholder {
    padding-left: 18px;

}

.btn-submit {
    width: 100%;
    height: 40px;
    background-color: #b59f5b;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 18px;
    border: none;
}


/* Блок тегов */
.tags {
    margin-top: 60px;
}

.tags-text {
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29.15px;
}

.tags-line {
    width: 66px;
    height: 3px;
    color: #fff;
    background-color: #e1d9bf;
    margin: 6px auto 0;
}

.tags-select {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 24px;
    display: block;
    line-height: 30px;

}

.button-tag {
    text-decoration: none;
    width: 80px;
    height: 24px;
    color: #42393e;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #eee;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
}

.button-select {
    text-decoration: none;
    width: 80px;
    height: 24px;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #eee;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
}


/* Блок тем */
.themes {
    margin-top: 60px;
}

.themes-text {
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29.15px;
}

.themes-line {
    width: 66px;
    height: 3px;
    background-color: #e1d9c0;
    margin: 6px auto 0;
    ;
}

.themes-select {
    justify-content: flex-start;
    margin-top: 30px;
    display: block;
}

.themes-select-text {
    border: 1px #000;
    font-weight: 700;
    line-height: 47px;
}

.themes-select-number {
    color: #b59f5b;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 36.82px;
}

.themes-select-card {
    border-bottom: 1px solid #eee;
    align-items: flex-start;
    display: flex;
}


/* Блок футера */
footer {
    max-width: 1200px;
    margin: 64px auto 0 auto;
}

.contact {
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    background-color: #f4f7f6;
    margin: 0 auto;
}

.contact img {
    margin-right: 15px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.footer-text {
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
}

.copyright {
    color: #999;
    line-height: 40px;
}