* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: white;
    font-family: Open Sans, sans-serif;
}


.container {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Блок заголовка */
header {
    background-color: #000;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 28px;
    display: block;
    position: relative;
    z-index: 0;
    padding-bottom: 70px;
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.50;
    z-index: -1;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.header-text {
    color: #fff;
    display: block;
    font-size: 35px;
    font-weight: 700;
    line-height: 75px;
    margin: 70px auto 0;
    height: 100%;
    width: 100%;
    max-width: 680px;
    text-align: center;
}

.header-logo {
    cursor: pointer;
    width: 176px;
    display: inline-block;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav*/
.nav {
    text-transform: uppercase;
    font-size: 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.nav-link:last-child {
    margin-right: 0;
}



/* Блок главной */
.section {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 64px auto 0;
    padding: 0 15px;
}


/* Блок карточек */
.card {
    display: flex;
    margin-bottom: 60px;
}

.card img {
    height: 100%;
}

.card-tags {
    text-transform: uppercase;
    font-weight: 700;
}

.card-tags ul li {
    display: inline;
    list-style: none;
}

.card-tags ul li:first-child {
    margin-right: 10px;
}

.card-tags ul li a {
    text-decoration: none;
    color: #b59f5b;
}

.card-title a {
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    display: block;
    text-decoration: none;
    color: #000;
}

.card-date {
    color: #888;
    text-align: left;
    object-fit: fill;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.card-author {
    display: inline-block;
    align-items: center;
    margin-left: 12px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    color: #000;
}

.card-text {
    margin-left: 30px;
}


/* Блок новостей */
.main {
    max-width: 794px;
}

.aside {
    max-width: 272px;

}

.new-posts-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.new-posts-title:after {
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background-color: #e1d9bd;
    top: 100%;
    margin: auto;
}

.new-post-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 22px;
}

.new-post-card-text a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.new-posts-info {
    margin-left: 20px;
}

.new-post-card-text {
    color: #000;
    font-weight: 700;
    line-height: 16px;
    margin-top: 5px;
    text-transform: uppercase;
}

.new-post-card-title {
    color: #888;
    font-size: 12px;
}


/* Блок поиска */
.search {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.form-s {
    display: flex;
    margin-top: 60px;
}

.search-button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    border: none;
}

.search-input {
    max-width: 272px;
    font-size: 13px;
    padding-left: 18px;
    padding-right: 70px;
    height: 48px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
}


/* Блок подписки */
.send {
    margin-top: 62px;
}

.send-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.send-title:after {
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background-color: #e1d9bd;
    margin: auto;
    top: 100%;
}

.send-form {
    margin-top: 23px;
}

.send-input {
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 13px;
    width: 100%;
    height: 48px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
}

.send-input placeholder {
    padding-left: 18px;

}

.btn-submit {
    width: 100%;
    height: 40px;
    background-color: #b59f5b;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 18px;
    border: none;
}


/* Блок тегов */
.tags {
    margin-top: 60px;
}

.tags-text {
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.tags-text:after {
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background-color: #e1d9bd;
    margin: auto;
    top: 100%;
}

.tags-select ul {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 24px;
    display: flex;
}

.tags-select li {
    margin: 0 3px 3px 0;
    list-style: none;

}

.tags-select li:hover>a {
    color: #000;
    transition: 700ms;
}

.button-tag {
    display: block;
    text-decoration: none;
    color: #42393ed1;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #eee;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
}


/* Блок тем */
.themes {
    margin-top: 60px;
}

.themes-text {
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.themes-text:after {
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background-color: #e1d9bd;
    margin: auto;
    top: 100%;
}

.themes-select {
    margin-top: 30px;
    display: block;
}

.themes-select ul {
    list-style: none;
}

.themes-select span {
    color: #b59f5b;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 700;
}

.themes-select-text {
    border: 1px #000;
    font-weight: 700;
}

.themes-select-number {
    color: #b59f5b;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 700;
}

.themes-select-card {
    margin: 0;

    display: block;
    cursor: pointer;
}

.themes-select-card li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}



/* Блок футера */
footer {
    max-width: 1200px;
    margin: 64px auto 0 auto;
}

.contact {
    max-width: 1170px;
    background-color: #f4f7f6;
    padding: 5px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact img {
    margin: 20px 15px;
    width: 20px;
    height: 20px;
}

.contact a {
    text-decoration: none;
}

.contact li {
    list-style: none;
}

.link1 {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
    background-repeat: no-repeat;
}

.link2 {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
    background-repeat: no-repeat;
}

.link3 {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
    background-repeat: no-repeat;
}

.footer-text {
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 5px 0;
}

.copyright {
    color: #999;
}