body {
    margin: 0;
    padding: 0;
}

.header {
    height: 449px;
    background-color: #000;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 28px;
    display: block;

    position: relative;
    z-index: 0;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.45;
    z-index: -1;
}


.header-title {
    max-width: 1200px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo {
    height: 40px;
    margin-left: 15px;
    margin-right: auto;
    display: inline-block;
}

.list {
    max-width: 1000px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -54px;
    margin-left: 214px;
    margin-right: 0;
    list-style-type: none;
    display: flex;
}

.header-text {
    max-height: 380px;
    max-width: 680px;
    color: #fff;
    text-align: center;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    font-family: Open Sans, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    display: block;
    position: static;
    overflow: visible;
}

.main {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.image-2 {
    max-width: 100%;
    margin-right: 0;
    padding-left: 0;
}

.card {
    flex-flow: row;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
    display: flex;
}

.card-tags {
    color: #b59f5b;
    text-align: left;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 20px;
    display: block;
}

.card-title {
    direction: ltr;
    text-transform: uppercase;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: 20px;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: block;
    position: static;
}

.card-text {
    max-width: 367px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 30px;
    display: block;
}

.card-date {
    color: #888;
    text-align: left;
    object-fit: fill;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
    overflow: visible;
}

.card-author {
    color: #000;
    justify-content: flex-end;
    align-items: center;
    margin-left: 12px;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
}

.text {
    color: #0f0d0e;
    margin-top: 40px;
    margin-bottom: 0;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.text-2 {
    color: #0f0d0e;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.news {
    max-width: 794px;
    margin-left: 15px;
}

.aside {
    max-width: 272px;
    margin-left: 0;
    margin-right: 15px;
}

.footer {
    max-width: 1200px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #999;
    text-align: center;
    font-family: Open Sans, sans-serif;
    line-height: 40px;
}

.footer-text {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    max-width: 1170px;
    background-color: #f4f7f6;
    margin: auto;
    font-family: Open Sans, sans-serif;
}

.text-block {
    text-align: center;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 29.15px;
}

.utility-page-wrap {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.utility-page-content {
    width: 260px;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.utility-page-form {
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

.new-posts-line {
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.new-post-card {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 22px;
    display: flex;
}

.new-posts-info {
    margin-left: 20px;
}

.new-post-card-title {
    color: #888;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.new-post-card-text {
    color: #000;
    text-transform: uppercase;
    margin-top: 5px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 16px;
}

.new-post-card-img {
    width: 70px;
    height: 70px;
    max-height: 133%;
}

.div-block {
    margin-top: 60px;
}

.search-button {
    width: 48px;
    height: 48px;
    -webkit-text-fill-color: inherit;
    background-color: #b59f5b;
    background-image: url('../images/search.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-attachment: scroll;
    background-clip: border-box;
    border: 1px #000;
    padding-top: 0;
    padding-bottom: 0;
}

.search {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.search-input {
    height: 48px;
    color: #939594;
    background-color: #f4f7f6;
    border: 1px #000;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Open Sans, sans-serif;
}

.send {
    margin-top: 62px;
}

.submit-button {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: #b59f5b;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
}

.text-field {
    color: #939594;
    margin: 23px 0 18px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
}

.send-text {
    text-align: center;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 29.15px;
}

.send-line {
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

.send-form {
    margin-top: 23px;
}

.text-field-2 {
    color: #000;
    margin-bottom: 0;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.submit-button-2 {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background-color: #b59f5b;
    margin-top: 18px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 20px;
}

.tags {
    margin-top: 60px;
}

.text-block-2 {
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 29.15px;
}

.div-block-2 {
    width: 66px;
    height: 3px;
    color: #fff;
    background-color: #e1d9bf;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.tags-select {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 24px;
    display: block;
}

.button-tag {
    width: 80px;
    height: 24px;
    color: #42393e;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #eee;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: 6px;
    padding: 0;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.button-select {
    width: 80px;
    height: 24px;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #eee;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 0;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.themes {
    margin-top: 60px;
}

.themes-text {
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 29.15px;
}

.themes-line {
    width: 66px;
    height: 3px;
    background-color: #e1d9c0;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.themes-select {
    justify-content: flex-start;
    margin-top: 30px;
    display: block;
}

.themes-select-text {
    border: 1px #000;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 47px;
}

.themes-select-number {
    color: #b59f5b;
    margin-left: 0;
    padding-left: 5px;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 36.82px;
}

.themes-select-card {
    border-bottom: 1px solid #eee;
    align-items: flex-start;
    display: flex;
}