* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.gallery {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.gallery__item--13 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.gallery__item--11 {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}