* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --size: (1vh + 1vw);
}

body {
    background-image: url(backk.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {

    width: 1200px;
    height: 920px;
    margin: 0;
    color: #ffffff;
    background-color: #492ba7;
    font-size: 16px;
}

.wrapper {
    float: right;
}

input {
    background-color: #492ba7;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 40px;
    padding: 0 5px 0 5px;
}

.form-wrapper {
    margin-top: 20px;
    margin: 50px;
    width: 500px;
    height: 100%;
    border: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.name {
    grid-column: 1/-1;
}

.prefessional {
    grid-column: 1/-1;
}

.date {
    grid-column: 1/2;
    grid-row: 3;
}

.center {
    grid-column: 2/-1;
    grid-row: 3;
}

.mail {
    grid-column: 1/-1;
}

.information {
    grid-column: 1/-1;
    text-align: justify;
}

.button-send {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    background-color: #ff6721;
    color: white;
    font-size: 20px;
}